<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Pokegem</title>
  </head>
  <body>
  
    <h1>Create New Pokegem</h1>
    <form action="/pokegems" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>

      <label for="img">Image URL:</label>
      <input type="text" id="img" name="img" required>

      <label for="series">Series:</label>
      <input type="text" id="series" name="series" required>

      <button type="submit">Create</button>
    </form>
  </body>
</html>
